# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3
*.sqlite3-journal
static/
media/

# Environment
.env
.env.*
.venv/
ENV/
env/
*.env

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Static/media
/staticfiles/
/media/
/node_modules/

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!**/migrations/__init__.py

# Coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
.coverage.*

# Others
*.bak
*.swp
*.tmp